{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title mb-30">
            <h2>My Contents</h2>
          </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
          <div class="breadcrumb-wrapper mb-30">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#0">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  contents
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== tables-wrapper start ========== -->
    <div class="tables-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="card-style mb-30">
            <a href="{% url 'add_content' %}" class="btn btn-primary">+ Add Content</a>
        
            <div class="table-wrapper table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="lead-email"><h6>Title</h6></th>
                    <th class="lead-info"><h6>Category</h6></th>
                    <th class="lead-company"><h6>Created At</h6></th>
                    <th class="lead-company"><h6>Action</h6></th>
                  </tr>
                  <!-- end table row-->
                </thead>
                <tbody>
                  {% for content in contents %}  
                  <tr>
                    <td>
                      <div class="lead">
                        <div class="lead-text">
                          
                          <p>{{content.title}}</p>
                            <a href="{% url 'content_detail' content.id %}">
                              <i class="lni lni-eye"></i>
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                        <p>{{content.category}}</p>
                    </td>
                    
                  
      
                    
                    <td>
                      <p>{{content.created_at}}</p>
                    </td>
                    
                    <td><a href="{% url 'update_content' content.id %}"><i class="lni lni-pencil"></i></a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- end table -->
            </div>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== tables-wrapper end ========== -->
  </div>



{% endblock %}